<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% block content %}
<header>
    <nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-dark">
        <a class="navbar-brand" href="#">EggBox</a>
        <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown"
            aria-expanded="false"
            aria-label="Toggle navigation"
            >
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'planning' %}">Planning</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'coaching' %}">Coaching</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'notifications' %}">Messages</a>
                </li>
            </ul>
        </div>
        <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ profile.first_name }} {{ profile.last_name }}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'user_management' %}">User Management</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'profile' %}">My Profile</a>
                <a class="dropdown-item" href="{% url 'settings_team' %}">Team Settings</a>
                <a class="dropdown-item" href="{% url 'settings_global' %}">Global Settings</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a>
            </div>
        </div>
    </nav>
</header>
<section class="section-maincontent">
    <div class="container-xl">
        <h2>Global Settings</h2>
        <h3>Company Information</h3>
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-primary float-right" type="submit">Save</button>
        </form>
        <h3>Teams</h3>
        <table>
            <tr>
                <th>Team Name</th>
                <th>Planning deadline</th>
                <th>Coaching</th>
                <th>Lunch break</th>
                <th>Dinner break</th>
                <th>Paid break</th>
                <th></th>
                <th></th>
            </tr>
            {% for team in teams %}
            <tr class="showtable-row">
                <td>{{ team.team_name }}</td>
                <td>{{ team.planning_deadline }}</td>
                <td>Every {{ team.coaching_rep }} week</td>
                <td>{{ team.min_lunchbreak }} min</td>
                <td>{{ team.min_dinnerbreak }} min</td>
                <td>{{ team.min_paidbreak }} min</td>
                <!-- don't show the delete button if there's only one team -->
                {% if teams.count > 1 %}
                <td>
                    <a href="{% url 'delete_team' team.id %}">
                    <button class="btn btn-secondary btn-sm">delete</button>
                    </a>
                </td>
                {% else %}
                <td></td>
                {% endif %}
                <td>
                    <button class="btn btn-secondary btn-sm edit-table-row">Edit</button>
                </td>
            </tr>
            <tr class="editable-row toggle-row-none">
                <form method="POST">
                    {% csrf_token %}
                    <td>
                        <input type="text" value="{{ team.team_name }}" name="new_team_name">
                    </td>
                    <td>
                        <input type="number" placeholder="{{ team.planning_deadline }}" Days name="new_planning_deadline">
                    </td>
                    <td>
                        <input type="number" placeholder="Every {{ team.coaching_rep }} week" name="new_coaching_rep">
                    </td>
                    <td>
                        <input type="number" placeholder="{{ team.min_lunchbreak }} min" name="new_min_lunchbreak">
                    </td>
                    <td>
                        <input type="number" placeholder="{{ team.min_dinnerbreak }} min" name="new_min_dinnerbreak">
                    </td>
                    <td>
                        <input type="number" placeholder="{{ team.min_paidbreak }} min" name="new_min_paidbreak">
                    </td>
                    <td>
                        <button class="btn btn-secondary btn-sm" type="submit">Save</button>
                    </td>
                </form>
                <td>
                    <button class="btn btn-secondary btn-sm canceltable-row">Cancel</button>
                </td>
            </tr>
            {% endfor %}
            <!-- empty form to create a new team-->
            <tr class="input-row toggle-row-none">
                <form method="POST">
                    {% csrf_token %}
                    <td>
                        <input type="text" placeholder="Team name" name="new_team_name">
                    </td>
                    <td>
                        <input type="number" placeholder="Days" name="new_planning_deadline">
                    </td>
                    <td>
                        <input type="number" placeholder="every x week" name="new_coaching_rep">
                    </td>
                    <td>
                        <input type="number" placeholder="Minutes" name="new_min_lunchbreak">
                    </td>
                    <td>
                        <input type="number" placeholder="Minutes" name="new_min_dinnerbreak">
                    </td>
                    <td>
                        <input type="number" placeholder="Minutes" name="new_min_paidbreak">
                    </td>
                    <td>
                        <button class="btn btn-secondary btn-sm" type="submit">Save</button>
                    </td>
                </form>
                <td>
                    <button class="btn btn-secondary btn-sm canceltable-newrow">Cancel</button>
                </td>
            </tr>
        </table>
        <button class="btn btn-primary add-table-row">Add Team</button>
    </div>
</section>
{% endblock %}
{% block postloadjs %}
{{ block.super }}
<!-- js, see template in planning -->
{% endblock %}