<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% block content %}
<header>
    <nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-dark">
        <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown"
            aria-expanded="false"
            aria-label="Toggle navigation"
            >
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'planning' %}">Planning</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'coaching' %}">Coaching</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'notifications' %}">Messages</a>
                </li>
            </ul>
        </div>
        <a class="logo-small" href="{% url 'planning' %}"></a>
        <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ profile.first_name }} {{ profile.last_name }}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'user_management' %}">User Management</a>
                <a class="dropdown-item" href="{% url 'teams' %}">Teams</a>
                <a class="dropdown-item" href="{% url 'shifts' %}">Shifts</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'profile' %}">My Profile</a>
                <a class="dropdown-item" href="{% url 'settings_global' %}">Global Settings</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a>
            </div>
        </div>
    </nav>
</header>
<section class="section-maincontent">
    <div class="container-xl">
        <h2>Global Settings</h2>
        <form method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col-12 col-md-6">
                    <h3>Company settings</h3>
                    {{ form_company|crispy }}
                    <br>
                    <button class="btn btn-primary" type="submit">Save</button>
                </div>
                <!-- change the Plan -->
                <div class="col col-12 col-md-6">
                    <h3>Your current Subscription</h3>
                    {% if company.plan == 'starter' %}
                    <div class="plan-present">
                        <h4 class="text-uppercase">Starter</h4>
                        12 Users<br>
                        1 Team<br>
                        <hr>
                        Free
                    </div>
                    {% elif company.plan == 'basic' %}
                    <div class="plan-present">
                        <h4 class="text-uppercase">Basic</h4>
                        24 Users <br>
                        2 Teams<br>
                        <hr>
                        &#x20AC; 2/month
                    </div>
                    {% elif company.plan == 'advanced' %}
                    <div class="plan-present">
                        <h4 class="text-uppercase">Advanced</h4>
                        40 Users<br>
                        4 Teams<br>
                        <hr>
                        &#x20AC; 4/month
                    </div>
                    {% elif company.plan == 'max' %}
                    <div class="plan-present">
                        <h4 class="text-uppercase">Max</h4>
                        120 Users<br>
                        12 Teams<br>
                        <hr>
                        &#x20AC; 10/month
                    </div>
                    {% endif %}
                    <a class="float-right" href="{% url 'change_plan' %}">Change the subscription</a>
                    <br>
                    <br>
                    <p>Signed up on:</p>
                    <p>{{ company.signup_date}}</p>
                    <p>Last renewed:</p>
                    <p>{{ company.renewal_date}}</p>
                    <p>Subscription paid for:</p>
                    <p>{{ company.payment }} Months</p>
                </div>
            </div>
        </form>
        <br>
        <br>
        <br>
    </div>
</section>
{% endblock %}