<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% block content %}
<header>
    <nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-dark">
        <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown"
            aria-expanded="false"
            aria-label="Toggle navigation"
            >
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'planning' %}">Planning</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'coaching' %}">Coaching</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'notifications' %}">Messages</a>
                </li>
            </ul>
        </div>
        <a class="logo-small" href="{% url 'planning' %}"></a>
        <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ profile.first_name }} {{ profile.last_name }}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% if profile.level == 'admin' or profile.level == 'manager' %}
                <a class="dropdown-item" href="{% url 'user_management' %}">User Management</a>
                <a class="dropdown-item" href="{% url 'teams' %}">Teams</a>
                <a class="dropdown-item" href="{% url 'roles' %}">Roles</a>
                <a class="dropdown-item" href="{% url 'shifts' %}">Shifts</a>
                <div class="dropdown-divider"></div>
                {% endif %}
                <a class="dropdown-item" href="{% url 'profile' %}">My Profile</a>
                {% if profile.level == 'admin' %}
                <a class="dropdown-item" href="{% url 'settings_global' %}">Global Settings</a>
                {% endif %}
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a>
            </div>
        </div>
    </nav>
</header>
<section class="section-maincontent">
    <div class="container-xl">

        <a class="float-right" href="{% url 'add_shift' %}">
            <button class="btn btn-primary add-button">Add Shift</button>
        </a>
        <h2>Shifts</h2>

Reasons for choosing more than one shift:
- Different salary according to the shift
- Office closed during lunch break
The shifts don't have to correspond to actual work shifts of people. Users can work accross shifts.
        <h3>Shifts</h3>
        <table>
            <tr>
                <th class="width-t-title">Shift Name</th>
                <th class="width-t-smallnumbers">Min Agents</th>
                <th class="width-t-smallnumbers">Start</th>
                <th class="width-t-smallnumbers">End</th>
                <th class="width-t-weekday">Su</th>
                <th class="width-t-weekday">Mo</th>
                <th class="width-t-weekday">Di</th>
                <th class="width-t-weekday">Mi</th>
                <th class="width-t-weekday">Do</th>
                <th class="width-t-weekday">Fr</th>
                <th class="width-t-weekday">Sa</th>
                <th></th>
                <th></th>
            </tr>
            {% for shift in shifts %}
            <tr class="showtable-row">
                <td class="width-t-title">{{ shift.shift_name }}</td>
                <td class="width-t-smallnumbers">{{ shift.min_agents }}</td>
                <td class="width-t-smallnumbers">{{ shift.shift_start }}</td>
                <td class="width-t-smallnumbers">{{ shift.shift_end }} min</td>
                {% if shift.weekday_sunday == True %}
                    <td class="width-t-weekday"><i class="fas fa-check"></i></td>
                {% else %}<td></td>{% endif %}
                {% if shift.weekday_monday == True %}
                    <td class="width-t-weekday"><i class="fas fa-check"></i></td>
                {% else %}<td></td>{% endif %}
                {% if shift.weekday_tuesday == True %}
                    <td class="width-t-weekday"><i class="fas fa-check"></i></td>
                {% else %}<td></td>{% endif %}
                {% if shift.weekday_wednesday == True %}
                    <td class="width-t-weekday"><i class="fas fa-check"></i></td>
                {% else %}<td></td>{% endif %}
                {% if shift.weekday_thursday == True %}
                    <td class="width-t-weekday"><i class="fas fa-check"></i></td>
                {% else %}<td></td>{% endif %}
                {% if shift.weekday_friday == True %}
                    <td class="width-t-weekday"><i class="fas fa-check"></i></td>
                {% else %}<td></td>{% endif %}
                {% if shift.weekday_saturday == True %}
                    <td class="width-t-weekday"><i class="fas fa-check"></i></td>
                {% else %}<td></td>{% endif %}

                <!-- don't show the delete button if there's only one shift -->
                {% if shifts.count > 1 %}
                <td>
                    <a href=""><i class="far fa-trash-alt list-icon"></i></a>
                </td>
                {% else %}
                <td></td>
                {% endif %}
                <td>
                    <a href="{% url 'edit_shift' shift.id %}"><i class="far fa-edit list-icon"></i></a>
                </td>
            </tr>
            {% endfor %}
        </table>
        
    </div>
</section>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <!-- js, see template in planning -->
{% endblock %}