<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% block extra_title %}
- Planning
{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'planning/css/planning.css' %}">
{% endblock %}
{% block content %}
<header>
    <nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-dark">
        <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown"
            aria-expanded="false"
            aria-label="Toggle navigation"
            >
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'planning' %}">Planning</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'coaching' %}">Coaching</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'notifications' %}">Messages</a>
                </li>
            </ul>
        </div>
        <a class="logo-small" href="{% url 'planning' %}"></a>
        <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ profile.first_name }} {{ profile.last_name }}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% if profile.level == 'admin' or profile.level == 'manager' %}
                <a class="dropdown-item" href="{% url 'user_management' %}">User Management</a>
                <a class="dropdown-item" href="{% url 'teams' %}">Teams</a>
                <a class="dropdown-item" href="{% url 'shifts' %}">Shifts</a>
                <div class="dropdown-divider"></div>
                {% endif %}
                <a class="dropdown-item" href="{% url 'profile' %}">My Profile</a>
                {% if profile.level == 'admin' %}
                <a class="dropdown-item" href="{% url 'settings_global' %}">Global Settings</a>
                {% endif %}
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a>
            </div>
        </div>
    </nav>
</header>
<section class="section-maincontent">

<!-- check if there are any users. Otherwise show welcome message + tips -->
{% if users_select %}
    <div class="month-navigation">
        <div class="row">
            <div class="col-12 col-sm-4">
                <h2 id="month-title">Month</h2>
            </div>
            <div class="col-12 col-sm-4 text-center button-panel">
                <a class="control-btn" href="{% url 'planning' %}?month={{ nav_month.previous }}"><i class="fas fa-arrow-alt-circle-left"></i></a>
                <a class="control-btn" href="{% url 'planning' %}?month={{ nav_month.next }}"><i class="fas fa-arrow-alt-circle-right"></i></a>
                <a class="control-btn" href="{% url 'planning' %}?month=0"><i class="fas fa-home"></i></a>
                <a class="control-btn create-event-btn btn-inactive" data-toggle="modal" data-target="#newEventModal" href="#!"><i class="fas fa-plus"></i></a>
                <a class="control-btn jcopy-btn btn-inactive" onclick="copyEvents()" href="javascript:void(0);"> <i class="fas fa-copy"></i></a>
            </div>
            <div class="col-12 col-sm-4 text-center copy-panel">
                {% if profile.level == 'admin' or profile.level == 'manager' %}
                <select id="set-user" name="user_id">
                    {% for user in users_select %}
                        <option value="{{ user.id }}">{{ user.first_name }} {{ user.last_name }}</option>
                    {% endfor %}
                </select>
                {% endif %}
                <a class="control-btn" onclick="commitCopy()" href="javascript:void(0);"><i class="fas fa-check"></i></a>
                <a class="control-btn" id="cancel-copy" href="{% url 'planning' %}"><i class="fas fa-times"></i></a>
                <br>
                <p class="small text-justify">Click on all the days where you want to copy the selected date, followed by clicking the check mark.
                A copy overwrites existing events. Tip: You can also copy an empty day to delete multiple events quickly.</p>
            </div>
            <div class="col-12 col-sm-4 text-right">
                <div id="team-selector-wrapper">
                <!-- Team selector - only show if more than 1 team -->
                {% if teams.count > 1 %}
                <div class="dropdown show">
                    <a class="dropdown-toggle" href="#" role="button" id="teams_dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ current_team }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        {% for team in teams %}
                        <a class="dropdown-item" href="{% url 'planning' %}?team={{ team.team_name }}">{{ team.team_name }}</a>
                        {% endfor %}
                    </div>
                </div>
                {% else %}
                {{ current_team }}
                {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="table-container">
        <div class="month-table" id="weeks-container">
            <!-- JS magic -->
        </div>
    </div>
    <div id="color-coding">
        Color table: |  
        <i style="color: #0f0;" class="fa fa-circle small"></i> work | 
        <i style="color: #f00;" class="fa fa-circle small"></i> training, meeting |  
        <i style="color: #0ff;" class="fa fa-circle small"></i> lunch, dinner, break | 
        <i style="color: #00f;" class="fa fa-circle small"></i> holidays, leave | 
        <i style="color: #ff0;" class="fa fa-circle small"></i> sick, absence |
    </div>
    <div class="hints container-xl">
        <h5><i class="fas fa-info-circle"></i> Hints</h5>
        <ul>
            <li>Select a day to add or copy events. Click on an event to view the details or change/delete it if you're authorised</li>
            <li>Select a name to show a summary of the events for the selected month</li>
            <li>Agents cannot add/change/delete events in the past or in the current month. When a Manager
            approves a month, the Agent also cannot change it anymore.</li>
            <li>Agents can only plan for themselves</li>
        </ul>
    </div>
{% else %}
    {% include 'planning/includes/welcome.html' %}
{% endif %}
</section>
{% include 'planning/includes/modals.html' %}


{% endblock %}
{% block postloadjs %}
{{ block.super }}
{% include 'planning/includes/calendar_script.html' %}
{% endblock %}