<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% block extra_title %}
- Summary
{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'planning/css/summary.css' %}" />
{% endblock %}
{% block content %}
<header>
    <nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-dark">
        <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown"
            aria-expanded="false"
            aria-label="Toggle navigation"
            >
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'planning' %}">Planning</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'coaching' %}">Coaching</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'notifications' %}">Messages</a>
                </li>
            </ul>
        </div>
        <a class="logo-small" href="{% url 'planning' %}"></a>
        <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ profile.first_name }} {{ profile.last_name }}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% if profile.level == 'admin' or profile.level == 'manager' %}
                <a class="dropdown-item" href="{% url 'user_management' %}">User Management</a>
                <a class="dropdown-item" href="{% url 'teams' %}">Teams</a>
                <a class="dropdown-item" href="{% url 'shifts' %}">Shifts</a>
                <div class="dropdown-divider"></div>
                {% endif %}
                <a class="dropdown-item" href="{% url 'profile' %}">My Profile</a>
                {% if profile.level == 'admin' %}
                <a class="dropdown-item" href="{% url 'settings_global' %}">Global Settings</a>
                {% endif %}
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a>
            </div>
        </div>
    </nav>
</header>
<section class="section-maincontent">
    <div class="container-xl">
        <a class="float-right" href="{% url 'planning' %}"><i class="fas fa-times close-x"></i></a>
        <h2>Summary</h2>
        <div class="row">
            <div class="col-12 col-sm-6">
                <h3 class="float-none">{{ user.first_name }} {{ user.last_name }}</h3>
            </div>
            <div class="col-12 col-sm-6">
                <h3 class="text-right">{{ month_year }}</h3>
            </div>
        </div>
        <table class="text-center">
            <tr>
                <th class="width-shifts text-left">Shift</th>
                <th>
                    <div><i style="color: #0f0;" class="fa fa-circle small"></i></div>
                    Work
                </th>
                <th>
                    <div><i style="color: #f00;" class="fa fa-circle small"></i></div>
                    Training
                </th>
                <th>
                    <div><i style="color: #f00;" class="fa fa-circle small"></i></div>
                    Meeting
                </th>
                <th>
                    <div><i style="color: #0ff;" class="fa fa-circle small"></i></div>
                    Lunch
                </th>
                <th>
                    <div><i style="color: #0ff;" class="fa fa-circle small"></i></div>
                    Dinner
                </th>
                <th>
                    <div><i style="color: #0ff;" class="fa fa-circle small"></i></div>
                    Break
                </th>
                <th>
                    <div><i style="color: #00f;" class="fa fa-circle small"></i></div>
                    Holidays
                </th>
                <th>
                    <div><i style="color: #00f;" class="fa fa-circle small"></i></div>
                    Leave
                </th>
                <th>
                    <div><i style="color: #ff0;" class="fa fa-circle small"></i></div>
                    Sick
                </th>
                <th>
                    <div><i style="color: #ff0;" class="fa fa-circle small"></i></div>
                    Absence
                </th>
            </tr>
            {% for result in results %}         
            <tr>
                <td class="width-shifts text-left">
                    <div class="float-left">{{ result.shift_name }}</div>
                    <div class="float-right">
                        <span class="small">hours</span> <br>
                        <span class="small">count</span>
                    </div>
                </td>
                <td>{{ result.hours.work }}<br>{{ result.count.work }}</td>
                <td>{{ result.hours.training }}<br>{{ result.count.training }}</td>
                <td>{{ result.hours.meeting }}<br>{{ result.count.meeting }}</td>
                <td>{{ result.hours.lunch }}<br>{{ result.count.lunch }}</td>
                <td>{{ result.hours.dinner }}<br>{{ result.count.dinner }}</td>
                <td>{{ result.hours.break }}<br>{{ result.count.break }}</td>
                <td>{{ result.hours.holidays }}<br>{{ result.count.holidays }}</td>
                <td>{{ result.hours.leave }}<br>{{ result.count.leave }}</td>
                <td>{{ result.hours.sick }}<br>{{ result.count.sick }}</td>
                <td>{{ result.hours.absence }}<br>{{ result.count.absence }}</td>
            </tr>
            {% endfor %}
        </table>
        <div class="hints">
        <hr>
            <h5><i class="fas fa-info-circle"></i> Hints</h5>
            <ul>
                <li>The total hours are displayed in decimal format. For example: 1.5 hours = 1 h 30 min</li>
                <li>in the case that shifts are overlapping, it's possible that the same hours appear in multiple shifts</li>
                <li>There is no account for events added outside the time range of shifts</li>
                <li>Admins and Managers can adjust, add or delete shifts in the settings. You need at least
                    one shift for the summary to work
                </li>
            </ul>
        </div>
    </div>
</section>
{% endblock %}