<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}

{% block extra_title %}
    - Summary
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'planning/css/summary.css' %}" />
{% endblock %}

{% block content %}
<header>
    <nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-dark">
        <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown"
            aria-expanded="false"
            aria-label="Toggle navigation"
            >
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'planning' %}">Planning</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'coaching' %}">Coaching</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'notifications' %}">Messages</a>
                </li>
            </ul>
        </div>
        <a class="logo-small" href="{% url 'planning' %}"></a>
        <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ profile.first_name }} {{ profile.last_name }}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% if profile.level == 'admin' or profile.level == 'manager' %}
                <a class="dropdown-item" href="{% url 'user_management' %}">User Management</a>
                <a class="dropdown-item" href="{% url 'teams' %}">Teams</a>
                <a class="dropdown-item" href="{% url 'shifts' %}">Shifts</a>
                <div class="dropdown-divider"></div>
                {% endif %}
                <a class="dropdown-item" href="{% url 'profile' %}">My Profile</a>
                {% if profile.level == 'admin' %}
                <a class="dropdown-item" href="{% url 'settings_global' %}">Global Settings</a>
                {% endif %}
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a>
            </div>
        </div>
    </nav>
</header>
<section class="section-maincontent">
    <div class="container-xl"> 
        <a class="float-right" href="{% url 'planning' %}"><i class="fas fa-times"></i></a>
        <h2>Summary</h2>
        <h3 class="float-none">{{ user.first_name }} {{ user.last_name }}</h3>
        <p>Month: {{ month_year }}</p>
        <table class="text-center">
            <tr>
                <th class="width-shifts text-left">Shift</th>
                <th><div><i style="color: #0f0;" class="fa fa-circle small"></i></div>Work</th>
                <th><div><i style="color: #f00;" class="fa fa-circle small"></i></div>Training</th>
                <th><div><i style="color: #f00;" class="fa fa-circle small"></i></div>Meeting</th>
                <th><div><i style="color: #0ff;" class="fa fa-circle small"></i></div>Lunch</th>
                <th><div><i style="color: #0ff;" class="fa fa-circle small"></i></div>Dinner</th>
                <th><div><i style="color: #0ff;" class="fa fa-circle small"></i></div>Break</th>
                <th><div><i style="color: #00f;" class="fa fa-circle small"></i></div>Holidays</th>
                <th><div><i style="color: #00f;" class="fa fa-circle small"></i></div>Leave</th>
                <th><div><i style="color: #ff0;" class="fa fa-circle small"></i></div>Sick</th>
                <th><div><i style="color: #ff0;" class="fa fa-circle small"></i></div>Absence</th>
            </tr>
            {% for shift in shifts %}
            <tr>
                <td class="width-shifts text-left">{{ shift.shift_name }}</td>
                {% for result in results %}
                    <th>result</th>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
        Overfiew of the shifts: Link to the shifts
    </div>
    <br>
<br>
<br>
<br>
</section>




{% endblock %}
