

/* --------------------------------------------- Box-special */

.section-maincontent,
#allauth-content {
    margin-top: 55px;
    min-height: calc(100vh - 100px);
    background-image: linear-gradient(to bottom right, #fff, #ddd);
}

.hints {
    padding-top: 25px;
    padding-bottom: 50px;
}

.add-button {
    margin-top: 15px;
}

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 9999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

.list-icon {
    font-size: 1.1rem;
    padding: 2px 10px;
}

.btn-invisible {
    border: 0;
    background: transparent;
    outline: none;
}

/* --------------------------------------------- Headers */

h1 {
    font-family: 'Blinker', sans-serif;
    font-weight: 600;
    padding: 15px 0;
    color: #333;
    text-align: center;
}

h1 .tagline {
    font-weight: 300;
    color: #555;
}

h2 {
    font-family: 'Blinker', sans-serif;
    padding: 15px 0;
}

h3 {
    font-family: 'Blinker', sans-serif;
    padding-top: 1em;
    padding-bottom: 1em;
}

h4 {
    font-family: 'Blinker', sans-serif;
    padding-bottom: 10px;
    size: 1rem;
    text-align: center;
}


/* --------------------------------------------- Bootstrap adjustments */

.btn {
    border-radius: 8px;
    width: 100px;
}

/* used to keep elements centered if there is no button */
.no-element {
    width: 100px;
}

.navbar-light {
    background-color: rgba(255, 255, 255, 0.8);
}

#navbarDropdown {
    color: #fff;
}

/* --------------------------------------------- Allauth Forms */

#allauth-content h2 {
    padding: 0;
}

.allauth-btnwrapper {
    padding: 15px 0;
}

/* custom radio buttons to select the plan on signup */

.plan-present {
    background-color: #ccd9ff;
    border-radius: 8px;
    display : block;
    width: 100%;
    padding: 5px;
    margin-bottom: 20px;
}

.plan-select {
    background-color: #ccd9ff;
    border-radius: 8px;
    display : block;
    width: 100%;
    margin-bottom: 20px;
}
.plan-select div {
    padding: 5px;
}
.plan-select > input {
    visibility: hidden;
    position: absolute;
}
.plan-select > input + div {
    cursor:pointer;
}
.plan-select > input:checked + div{
    background-color: #b3ffb3;
    box-shadow: 3px 3px 6px #888;
    border-radius: 8px;
}

.plan-select hr {
    margin: 4px 2px;
}

.width-numbers {
    width: 100px;
}

.profile-form-input {
    width: 320px;
}

.control-label {
    margin-top: 10px;
    margin-bottom: 2px;
}

/* --------------------------------------------- Landing-page */

.dark-row {
    background-color: #e6f2ff;
    padding: 30px 0;
}

.light-row {
    background-color: white;
    padding: 30px 0;
}
#hero-image {
    background-image: url('/media/logo.png');
    background-repeat: no-repeat;
    background-size: contain; 
    background-position: center;
    height: 280px;
    margin-top: 55px;
}

.logo-small {
    background-image: url('/media/egg.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
}

.fill-image {
    height: 280px;
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
}

.img-agent {
    background-image: url('/media/agent-headset.jpg');
}

.img-plan {
    background-image: url('/media/screenshot-plan.jpg');
}

.img-coach {
    background-image: url('/media/screenshot-coach.jpg');
}

.img-settings {
    background-image: url('/media/screenshot-settings.jpg');
}

/* --------------------------------------------- Signup-page */

#signup-form input {
    width: 100%;
    margin-bottom: 10px;
}

#signup-form select {
    width: 300px;
    margin-bottom: 10px;
}

/* --------------------------------------------- table-width */

.width-t-title {
    width: 400px;
}

.width-t-numbers {
    width: 300px;
    overflow: hidden;
}

.width-t-smallnumbers {
    width: 280px;
    overflow: hidden;
}

.width-t-weekday {
    width: 100px;
}

.width-t-title .profile-form-input {
    width: 190px;
}

.width-t-numbers .profile-form-input{
    width: 140px;
    overflow: hidden;
}

.width-t-smallnumbers .profile-form-input{
    width: 130px;
    overflow: hidden;
}

.width-t-weekday .profile-form-input{
    width: 40px;
}

/* --------------------------------------------- Settings */

.full-table {
    width: 100%;
}

/* --------------------------------------------- Settings */
.messages-wrapper {
    padding: 10px;
    background-color: #fff;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 3px 3px 6px #888;
    border: 1px solid #ccc;
}

/* --------------------------------------------- Stripe */

.StripeElement,
.stripe-style-input {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 0px;
  background-color: white;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #aab7c4;
}

.fieldset-label {
    position: relative;
    right: .5rem;
}

#payment-form .form-control,
#card-element {
    color: #000;
    border: 1px solid #000;
}


/* --------------------------------------------- Footer */

.footer-bar .navbar-nav {
    flex-direction: row; 
}

.footer-bar .nav-link {
    padding-left: 15px;   
}

footer p {
    color: #888;
}

/* --------------------------------------------- Selectors */

.plan-select:hover {
    box-shadow: 3px 3px 6px #888;
}

i:hover {
    color: #ffaa00;
}