

/* --------------------------------------------- Box-special */

.section-maincontent {
    margin-top: 55px;
    background-image: linear-gradient(to bottom right, #fff, #ddd);
}

/* --------------------------------------------- Headers */

h1 {
    font-family: 'Blinker', sans-serif;
    font-weight: 600;
    padding: 15px 0;
    color: #333;
    text-align: center;
}

h1 .tagline {
    margin-top: 240px;
    font-weight: 300;
    color: #555;
}

h2 {
    font-family: 'Blinker', sans-serif;
    padding: 15px 0;
}

h3 {
    font-family: 'Blinker', sans-serif;
    padding-top: 1em;
}

h4 {
    font-family: 'Blinker', sans-serif;
    padding-bottom: 10px;
    size: 1rem;
    text-align: center;
}


/* --------------------------------------------- Bootstrap adjustments */

.btn {
    border-radius: 8px;
    width: 100px;
}

/* used to keep elements centered if there is no button */
.no-element {
    width: 100px;
}

.navbar-light {
    background-color: rgba(255, 255, 255, 0.8);
}

#navbarDropdown {
    color: #fff;
}


/* --------------------------------------------- Allauth Forms */

#allauth-content {
    margin-top: 55px;
    background-image: linear-gradient(to bottom right, #fff, #ddd);
}

#allauth-content h2 {
    padding: 0;
}

.allauth-btnwrapper {
    padding: 15px 0;
}

/* custom radio buttons to select the plan on signup */

.plan-select {
    background-color: #ccd9ff;
    border-radius: 8px;
    display : block;
    width: 100%;
}
.plan-select div {
    padding: 5px;
}
.plan-select > input {
    visibility: hidden;
    position: absolute;
}
.plan-select > input + div {
    cursor:pointer;
}
.plan-select > input:checked + div{
    background-color: #b3ffb3;
    box-shadow: 3px 3px 6px #888;
    border-radius: 8px;
}

.plan-select hr {
    margin: 4px 2px;
}

/* --------------------------------------------- Landing-page */

.dark-row {
    background-color: #e6f2ff;
    padding: 30px 0;
}

.light-row {
    background-color: white;
    padding: 30px 0;
}
#hero-image {
    background-image: url('/media/logo.png');
    background-repeat: no-repeat;
    background-size: contain; 
    background-position: center;
    height: 280px;
    display: none;
}


.fill-image {
    height: 280px;
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
}

.img-agent {
    background-image: url('/media/agent-headset.jpg');
}

.img-plan {
    background-image: url('/media/screenshot-plan.jpg');
}

.img-coach {
    background-image: url('/media/screenshot-coach.jpg');
}

.img-settings {
    background-image: url('/media/screenshot-settings.jpg');
}

/* --------------------------------------------- Forms-special */

.toggle-row-none {
    display: none;
}


/* --------------------------------------------- Footer */

.footer-bar .navbar-nav {
    flex-direction: row;
    
}

.footer-bar .nav-link {
    padding-left: 15px;
    
}

/* --------------------------------------------- Selectors */

.plan-select:hover {
    box-shadow: 3px 3px 6px #888;
}
