
/* --------------------------------------------- Headers */

h1 {
    font-family: 'Blinker', sans-serif;
    font-weight: 600;
    text-align: center;
    padding: 30px 0;
}

h2 {
    font-family: 'Blinker', sans-serif;
    text-align: center;
    padding: 30px 0;
}

h3 {
    font-family: 'Blinker', sans-serif;
    padding-top: 1em;
}

h4 {
    font-family: 'Blinker', sans-serif;
    padding-bottom: 10px;
    size: 1rem;
    text-align: center;
}


/* --------------------------------------------- Bootstrap adjustments */

.btn {
    border-radius: 8px;
    width: 100px;
}

/* used to keep elements centered if there is no button */
.no-element {
    width: 100px;
}


/* --------------------------------------------- Allauth Forms */

#allauth-content {
    margin-top: 55px;
    background-image: linear-gradient(to bottom right, #fff, #ddd);
}

#allauth-content h2 {
    padding: 0;
}

.allauth-btnwrapper {
    padding: 15px 0;
}

.plans-wrapper {
    background-color: #eee;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 5px;
}

.plans-wrapper-sel {
    background-color: #ddd;
    border: 2px solid #000;
    border-radius: 8px;
    padding: 5px;
}



/* --------------------------------------------- Landing-page */

.dark-row {
    background-color: #e6f2ff;
    padding: 30px 0;
}

.light-row {
    background-color: white;
    padding: 30px 0;
}
.hero-image {
    background-image: url('/media/eggs.png');
    background-repeat: no-repeat;
    background-size: contain; 
    background-position: center;
    height: 320px;
}

.fill-image {
    height: 280px;
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    box-shadow: 3px 3px 6px #888;
    border: 1px solid #888;
    border-radius: 8px;
}

.img-agent {
    background-image: url('/media/agent-headset.jpg');
}

.img-plan {
    background-image: url('/media/screenshot-plan.jpg');
}

.img-coach {
    background-image: url('/media/screenshot-coach.jpg');
}

.img-settings {
    background-image: url('/media/screenshot-settings.jpg');
}


/* --------------------------------------------- Footer */

.footer-bar .navbar-nav {
    flex-direction: row;
    
}

.footer-bar .nav-link {
    padding-left: 15px;
    
}