<!DOCTYPE html>
{{ users|json_script:"userdata" }}
<script>

const startHour = 0
const endHour = 24
const hoursRange = endHour - startHour;
const expandedDayWidth = 300;
let chosenDate = new Date();
let buildingSpace = document.getElementById("weeks-container");

const prepareString = JSON.parse(document.getElementById('userdata').textContent);
const allUsers = JSON.parse(prepareString);

$(document).ready(function() {
    weekTables();

    // select a date column to expand
    $('.select-col').click(function() {
        $(this).parent().toggleClass('expand-day');
        $(this).find('div.expand-time').toggleClass('show-timescale');
        $(this).find('div.time-label').remove();
        x = expandedDayWidth / hoursRange; // for the with of the time grid
        
        for (let i = startHour; i < endHour; i++) {
            var el = '<div class="time-label" ' +
                'style="width: ' + x + 'px;">'+ i +
                 '</div>';
            $(this).find('div.expand-time').append(el);
        }
        
    });
});


let calendarLabels = {
    weekDays: ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"],
    allMonths: ["January", "February", "March", "April", "Mai", "June", "July", "August", "September", "October", "November", "December"]
};


function weekTables() {

    let today = getDate();
    let loopDate = new Date();
    loopDate.setDate(1);

    let cssGrid = document.createElement('div');
    cssGrid.classList.add('month-table');
    buildingSpace.appendChild(cssGrid);

    // build the left column
    let colLeft = document.createElement('div');
    colLeft.classList.add('table-column', 'table-col-fixed');
    cssGrid.appendChild(colLeft);

    let colLeftTitle = document.createElement('div');
    colLeftTitle.classList.add('table-header');
    colLeftTitle.innerHTML = '<div class="name-label">Name</div>';
    colLeft.appendChild(colLeftTitle);

    for (let i = 0; i < allUsers.length; i++) {
        let userLabel = document.createElement('div');
        userLabel.classList.add('table-cell');
        if (i % 2 == 0) {
                userLabel.classList.add('even-row');
            }
        url = `/planning/summary/${allUsers[i].pk}`
        userLabel.innerHTML = `<a href="${url}">${allUsers[i].fields.first_name} ${allUsers[i].fields.last_name}</a>`;
        colLeft.appendChild(userLabel);
    }

    while (loopDate.getMonth() == today.getMonth()) {

        // create a new column
        let dayColumn = document.createElement('div');
        dayColumn.classList.add('table-column');
        cssGrid.appendChild(dayColumn);

        // column header (date)
        let dayColumnHead = document.createElement('div');
        dayColumnHead.classList.add('table-header');
        dayColumnHead.classList.add('select-col'); // reaction to click
        dayColumnHead.innerHTML = '<a href="#!"><span class="hday">' +
            calendarLabels.weekDays[loopDate.getDay()] + '</span>' + loopDate.getDate() + 
            '<div class="expand-time"></div></a>';
        dayColumn.appendChild(dayColumnHead);

        // create all the cells
        for (let i = 0; i < allUsers.length; i++) {
            let cell = document.createElement('div');
            cell.classList.add('table-cell');
            if (i % 2 == 0) {
                cell.classList.add('even-row');
            }
            if (loopDate.getDay() == 0) {
                cell.classList.add('neweek-border');
                if (i == 0) {
                    cell.innerText = loopDate.getWeek();
                    cell.classList.add('week-number');
                }
            }
            dayColumn.appendChild(cell);
        }
        loopDate.setDate(loopDate.getDate() + 1); 
    }


}

function getDate() {
    let today = new Date();
    let monthTitle = document.getElementById("month-title");

    // add the year to the title if outside the current year
    if (today.getFullYear() === chosenDate.getFullYear()){
        monthTitle.innerHTML = calendarLabels.allMonths[chosenDate.getMonth()];
    } else {
        monthTitle.innerHTML = calendarLabels.allMonths[chosenDate.getMonth()] + " " + chosenDate.getFullYear();
    }
    return chosenDate;
}

function monthPlus() {
    chosenDate = new Date(chosenDate.setMonth(chosenDate.getMonth()+1));
    buildingSpace.innerHTML = "";
    weekTables();
}

function monthMinus() {
    chosenDate = new Date(chosenDate.setMonth(chosenDate.getMonth()-1));
    buildingSpace.innerHTML = "";
    weekTables();
}

// get the calendarweek-number
Date.prototype.getWeek = function() {
    var onejan = new Date(this.getFullYear(), 0, 1);
    return Math.ceil((((this - onejan) / 86400000) + onejan.getDay() + 1) / 7);
}

</script>