<!DOCTYPE html>
{{ users|json_script:"userdata" }}
{{ mmyyyy|json_script:"datedata" }}
{{ daySpan|json_script:"dayspandata" }}
{{ events|json_script:"eventsdata"}}
<script>

// getting user preferences what hour the day starts and what hour it ends
const prepareNumbers = JSON.parse(document.getElementById('dayspandata').textContent);
const chosenDaySpan = JSON.parse(prepareNumbers);
const startHour = parseInt(chosenDaySpan.start);
const endHour = parseInt(chosenDaySpan.end);
const hoursRange = endHour - startHour;

// variable for the day selected. 0 if nothing selected.
let daySelected = 0;

// Array for copying events to different days
let copyDaysSelected = [];

// mode: 0 = normal, 1 = copy
let copyMode = false;

// width of expanded day
const expandedDayWidth = 300;
let buildingSpace = document.getElementById("weeks-container");

const prepareString = JSON.parse(document.getElementById('userdata').textContent);
const allUsers = JSON.parse(prepareString);

const prepareDate = JSON.parse(document.getElementById('datedata').textContent);
const chosenMMYYYY = JSON.parse(prepareDate);

const prepareEvents = JSON.parse(document.getElementById('eventsdata').textContent);
const events = JSON.parse(prepareEvents);
//console.log(events);

$(document).ready(function() {
    weekTables();

    // select a date column to expand
    $('.select-col').click(function() {
        if (copyMode == false) {
            // if already expanded, then collaps (unselect)
            if ($(this).parent().hasClass('expand-day')) {
                $(this).parent().removeClass('expand-day');
                $(this).find('div.expand-time').removeClass('show-timescale');
                $('.create-event-btn, .jcopy-btn').addClass('btn-inactive');
                daySelected = 0;
            }
            else {
                $('.expand-day').removeClass('expand-day');
                $('.show-timescale').removeClass('show-timescale');
                $(this).parent().addClass('expand-day');
                $(this).find('div.expand-time').addClass('show-timescale');
                $('.create-event-btn, .jcopy-btn').removeClass('btn-inactive');
                daySelected = $(this).find('span.day-display').text();
                $('.hidden-day').val(daySelected);
            }
            $(this).find('div.time-label').remove();
            x = expandedDayWidth / hoursRange; // for the with of the time grid
            for (let i = startHour; i < endHour; i++) {
                var el = '<div class="time-label" ' +
                    'style="width: ' + x + 'px;">'+ i +
                     '</div>';
                $(this).find('div.expand-time').append(el);
            }
        } else {

            // if statement to make sure that the source date cannot get selected as a target
            if (!$(this).hasClass("selected-column")) {
                $(this).toggleClass('copyto-column');

                // get the days which were selected as a target and add it to an array
                clickedOn = $(this).find('span.day-display').text();
                if (copyDaysSelected.includes(clickedOn)) {
                    index = copyDaysSelected.indexOf(clickedOn);
                    copyDaysSelected.splice(index);
                } else {
                    copyDaysSelected.push(clickedOn);
                }
            }
        }
    });

    $('#cancel-copy').click(function() {
        copyMode = false;  
    });

    // modal view
    $('#myModal').on('shown.bs.modal', function () {
        $('#myInput').trigger('focus')
    })
});


let calendarLabels = {
    weekDays: ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"],
    allMonths: ["January", "February", "March", "April", "Mai", "June", "July", "August", "September", "October", "November", "December"]
};

function weekTables() {

    let dateReference = getDate();
    let loopDate = getDate();
    loopDate.setDate(1);

    let cssGrid = document.createElement('div');
    cssGrid.classList.add('month-table');
    buildingSpace.appendChild(cssGrid);

    // build the left column
    let colLeft = document.createElement('div');
    colLeft.classList.add('table-column', 'table-col-fixed');
    cssGrid.appendChild(colLeft);

    let colLeftTitle = document.createElement('div');
    colLeftTitle.classList.add('table-header');
    colLeftTitle.innerHTML = '<div class="name-label">Name</div>';
    colLeft.appendChild(colLeftTitle);

    for (let i = 0; i < allUsers.length; i++) {
        let userLabel = document.createElement('div');
        userLabel.classList.add('table-cell');
        if (i % 2 == 0) {
                userLabel.classList.add('even-row');
            }
        url = `/planning/summary/${allUsers[i].pk}`
        userLabel.innerHTML = `<a href="${url}">${allUsers[i].fields.first_name} ${allUsers[i].fields.last_name}</a>`;
        colLeft.appendChild(userLabel);
    }

    // make sure only one month is drawn
    while (loopDate.getMonth() == dateReference.getMonth()) {

        // create a new column
        let dayColumn = document.createElement('div');
        dayColumn.classList.add('table-column');
        cssGrid.appendChild(dayColumn);

        // column header (date)
        let dayColumnHead = document.createElement('div');
        dayColumnHead.classList.add('table-header');
        dayColumnHead.classList.add('select-col'); // reaction to click
        dayAt = loopDate.getDate()
        dayColumnHead.innerHTML = '<a href="#!"><span class="hday">' +
            calendarLabels.weekDays[loopDate.getDay()] + '</span>' + 
            '<span class="day-display">' + dayAt + '</span>' + 
            '<div class="expand-time"></div></a>';
        dayColumn.appendChild(dayColumnHead);

        // create all the cells
        for (let i = 0; i < allUsers.length; i++) {
            let cell = document.createElement('div');
            cell.classList.add('table-cell');
            if (i % 2 == 0) {
                cell.classList.add('even-row');
            }
            if (loopDate.getDay() == 0) {
                cell.classList.add('neweek-border');
                if (i == 0) {
                    cell.innerText = loopDate.getWeek();
                    cell.classList.add('week-number');
                }
            }
            for (let j = 0; j < events.length; j++) {
                eventDate = events[j].fields.date.split("-");
                if (allUsers[i].pk == events[j].fields.user_id &&
                    dayAt == parseInt(eventDate[2]) &&
                    chosenMMYYYY.month == parseInt(eventDate[1]-1) &&
                    chosenMMYYYY.year == parseInt(eventDate[0])) {
                    cell.appendChild(colorBar(events[j]));
                }
            }
            dayColumn.appendChild(cell);
        }
        loopDate.setDate(loopDate.getDate() + 1); 
    }
}

function colorBar(oneEvent) {

    // calculating the time into the with of the color bar
    startTimeSplit = oneEvent.fields.start_time.split(":")
    endTimeSplit = oneEvent.fields.end_time.split(":")
    startH = parseInt(startTimeSplit[0]) * 100;
    startM = parseInt(startTimeSplit[1]) / 6 * 10;
    startDec = startH + startM;
    endH = parseInt(endTimeSplit[0]) * 100;
    endM = parseInt(endTimeSplit[1]) / 6 * 10;
    endDec = endH + endM;
    dayStartHourDec = startHour * 100
    dayEndHourDec = endHour * 100
    dayHoursRangeDec = hoursRange * 100
    spaceLeft = startDec - dayStartHourDec;
    spaceRight = dayEndHourDec - endDec;
    marginLeft = 100 / dayHoursRangeDec * spaceLeft;
    marginRight = 100 / dayHoursRangeDec * spaceRight;
    if (marginLeft < 0) {marginLeft = 0}
    if (marginRight < 0) {marginRight = 0}

    // create a colored div for every shift
    let colorBarElement = document.createElement('div');
    switch (oneEvent.fields.category) {
        case 'work':
            colorBarElement.style.backgroundColor = "#0f0";
            break;
        case 'training':
        case 'meeting':
            colorBarElement.style.backgroundColor = "#f00";
            break;
        case 'lunch':
        case 'dinner':
        case 'break':
            colorBarElement.style.backgroundColor = "#0ff";
            break;
        case 'holidays':
        case 'leave':
            colorBarElement.style.backgroundColor = "#00f";
            break;
        case 'sick':
        case 'absence':
            colorBarElement.style.backgroundColor = "#ff0";
            break;
        default:
            colorBarElement.style.backgroundColor = "#fff";
    }
    colorBarElement.classList.add("color-bar");
    colorBarElement.style.margin = "2px " + marginRight + "% 2px " + marginLeft + "%";
    colorBarElement.addEventListener('click', function (event) {
        $('#edit-event-start').val(oneEvent.fields.start_time);
        $('#edit-event-end').val(oneEvent.fields.end_time);
        $('#set-category option:selected').removeAttr('selected');
        $("#set-category > [value=" + oneEvent.fields.category + "]").attr("selected", "true");
        $('#set-user option:selected').removeAttr('selected');
        $("#set-user > [value=" + oneEvent.fields.user_id + "]").attr("selected", "true");
        $('#hidden-event-id').val(oneEvent.pk);
        $('#delete-btn').attr("href", `delete_event/${oneEvent.pk}/`);
        $('#editEventModal').modal('show');
    });

    let colorBarContainer = document.createElement('div');
    colorBarContainer.classList.add("color-bar-container");
    colorBarContainer.appendChild(colorBarElement);

    return colorBarContainer
}

function getDate() {
    let today = new Date()
    let chosenDate = new Date();
    chosenDate.setMonth(chosenMMYYYY.month);
    chosenDate.setYear(chosenMMYYYY.year);

    let monthTitle = document.getElementById("month-title");

    // add the year to the title if outside the current year
    if (today.getFullYear() === chosenDate.getFullYear()){
        monthTitle.innerHTML = calendarLabels.allMonths[chosenDate.getMonth()];
    } else {
        monthTitle.innerHTML = calendarLabels.allMonths[chosenDate.getMonth()] + " " + chosenDate.getFullYear();
    }
    return chosenDate;
}

// get the calendarweek-number
Date.prototype.getWeek = function() {
    var onejan = new Date(this.getFullYear(), 0, 1);
    return Math.ceil((((this - onejan) / 86400000) + onejan.getDay() + 1) / 7);
}

// copy function
function copyEvents() {
    $('.button-panel').hide();
    $('.copy-panel').show();
    selectedColumn = $(`.day-display:contains("${daySelected}"):first`);
    selectedColumn.parent().parent().parent().removeClass('expand-day');
    selectedColumn.parent().find('div.expand-time').removeClass('show-timescale');
    selectedColumn.parent().parent().addClass('selected-column');
    copyMode = true;
    copyDaysSelected = [daySelected];
}

function commitCopy() {
    copyMode = false

    let jsonSelectedDays = JSON.stringify(copyDaysSelected);

    let URL="{% url 'copy_event' %}"
    var selectedUser = $("#set-user option:selected").val();
    let post_data = {
        'csrfmiddlewaretoken':"{{ csrf_token }}",
        'selected_days': jsonSelectedDays,
        'selected_user': selectedUser
    }

    $.post(URL, post_data);

}


</script>