<!DOCTYPE html>
<div class="container-xl">
    <h1>Welcome {{ profile.first_name }}!</h1>
    <p>Thanks for signing up. If you are new to 'EggBox' we advise you to read the following tips:</p>
    <h2>General hints to get started:</h2>
    <ul>
        <li>Klick on the menu on the upper right corner to set up users, teams and shifts. Choose 'global settings' to
        view and edit the company information.</li>
        <li>Define the start- and end time of a working day in the global settings, to avoid white spaces in the calendar when your company is closed.
        The default setting is from 00.00 h - 24:00 h</li>
        <li>You can upgrade your plan in the 'global settings' in order to add more team and users than in the free plan</li>
    </ul>
    <h2>The Planning Section</h2>
    <p>The month-overview is the default page when signing in. You can add, change, copy and delete events here <em>once you have users set up.</em></p>
    <ul>
        <li>Click on the <i class="fas fa-arrow-alt-circle-left"></i> or <i class="fas fa-arrow-alt-circle-right"></i> button to change the
        month, or <i class="fas fa-home"></i> to jump to the current month.</li>
        <li>Click on a day to select it (zoom to see the day better).</li>
        <li>When the day is selected, you can either choose <i class="fas fa-plus"></i>
        to add a new event, or click <i class="fas fa-copy"></i> to copy the events of a day</li>
        <li>Click on an event ('color-bar') to view or edit it.</li>
        <li>Click on a user name in the left column of the table to see a summary of the selected month</li>
        <li>Only Agents and Managers get a line in the planning, not Admins or Visitors</li>
    </ul>
    <h2>The Coaching Section</h2>
    <ul>
        <li>A manager can meet with an Agent or organize a coaching session, and define goals</li>
        <li>Every Agent has a main goal in the settings as a guideline.</li>
    </ul>
        <h2>Notifications</h2>
    <ul>
        <li>The 'Messages'-section shows Notifications if another user has added/changed/deleted an event</li>
    </ul>
    <br>
    <br>
    <br>
</div>