<!DOCTYPE html>
<div class="container-xl">
    <h1>Welcome {{ profile.first_name }}!</h1>
    <p>Thanks for signing up.</p>
    <h2>General hints to get started:</h2>
    <ul>
        <li>Klick on the menu on the upper right corner to set up users, teams and shifts. Choose 'Global settings' to
        see and change the company information.</li>
        <li>Define when your day starts and ends in the global settings, to avoid white spaces in the calendar when the office is closed.
        The default setting is from 00.00 h - 24:00 h</li>
        <li>Milk</li>
    </ul>
    <h2>How to use the Planning-section:</h2>
    <p>The month calendar is the default page when signing in. You can add, change, copy and delete events here once you have users set up</p>
    <ul>
        <li>Click on the <i class="fas fa-arrow-alt-circle-left"></i> or <i class="fas fa-arrow-alt-circle-right"></i> button to change the
        month, or <i class="fas fa-home"></i> to jump to the current month.
        <li>Click on a day to select it (it zooms out to see the events better). When the day is selected, you can either choose <i class="fas fa-plus"></i>
        to add a new event, or click <i class="fas fa-copy"></i></a> to copy the events of a day.<li>
        <li>Click on an event ('color-bar') to view or edit it.</li>
        <li>Click on the Agent/Manager names to see an hour summary of the current month</li>
        <li>Only Agents and Managers have a line in the planning, not Admins or Visitors</li>
    </ul>
    <h2>How does the Coaching-section work?:</h2>
    <ul>
        <li>A manager can meet with an Agent or organize a coaching session, and write down the notes and set a goal</li>
        <li>Every Agent can set a main goal do have a direction to move towards</li>
    </ul>
        h2>How does the Coaching-section work?:</h2>
    <ul>
        <li>The Messages-app shows Notifications for Agents if a Manager added, changed or deleted an event</li>
        <li>A Manager receives a notification if an Agent submitted a new schedule</li>
    </ul>
    <br>
    <br>
</div>