<!DOCTYPE html>
{% extends "account/base.html" %}
{% load i18n %}
{% load static %}
{% block head_title %}
{% trans "Signup" %}
{% endblock %}
{% block inner_content %}
<section id="signup-form">
    <div class="container-xl">
        <h1>{% trans "Sign Up" %}</h1>
        <h2>Get started by signing up to a free Starter-Plan</h2>
        <p class="small text-center">{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">login</a>.{% endblocktrans %}</p>
        <p>With the starter plan you can add 1 Team up to 12 users (including Managers and/or Admins). You can upgrade later to one of the
           paid plans (see below for details) in the Global Settings after the sign up.</p>
        <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
            {% csrf_token %}
            <div class="row">
                <div class="col-6 col-sm-3">
                    <div class="plan-present">
                        <h4 class="text-uppercase">Starter</h4>
                        12 Users<br>
                        1 Team<br>
                        <hr>
                        Free
                    </div>
                </div>
                <div class="col-6 col-sm-3">
                    <div class="plan-present">
                        <h4 class="text-uppercase">Basic</h4>
                        24 Users <br>
                        2 Teams<br>
                        <hr>
                        &#x20AC; 2/month
                    </div>
                </div>
                <div class="col-6 col-sm-3">
                    <div class="plan-present">
                        <h4 class="text-uppercase">Advanced</h4>
                        40 Users<br>
                        4 Teams<br>
                        <hr>
                        &#x20AC; 4/month
                    </div>
                </div>
                <div class="col-6 col-sm-3">
                    <div class="plan-present">
                        <h4 class="text-uppercase">Max</h4>
                        120 Users<br>
                        12 Teams<br>
                        <hr>
                        &#x20AC; 10/month
                    </div>
                </div>
            </div>
            <h3>1. Create an Admin account</h3>
            <div class="row">
                <div class="col-12 col-sm-6">
                    {% for form_field in form %}
                    {{ form_field.label_tag }}
                    <br>
                    {{ form_field }}
                    <br>
                    {% endfor %}
                </div>
                <div class="col-12 col-sm-6">
                    <label for="first_name">First Name(s)</label>
                    <input type="text" id="first_name" name="first_name">
                    <label for="last_names">Last Name(s)</label>
                    <input type="text" id="last_name" name="last_name">
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                </div>
            </div>
            <h3>2. Add your company Name </h3>
            <div class="row">
                <div class="col-12 col-sm-6">
                    <label for="company_name">Company Name</label>
                    <input type="text" id="company_name" name="company_name">
                </div>
            </div>
            <p>By signing up you agree to the generel Terms and Conditions</p>
            <div class="allauth-btnwrapper">
                <button class="btn btn-primary my-2 my-sm-0" type="submit">{% trans "Sign Up" %}</button>
            </div>
            <br><br>
        </form>
    </div>
</section>
{% endblock %}
