<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% block content %}
<header>
    <nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-dark">
        <div class="container-xl">
            <a href="{% url 'account_signup' %}" class="btn btn-outline-primary my-2 my-sm-0">Sign up</a>
            <a class="navbar-brand" href="#">EggBox</a>
          
            
            {% if request.user.is_authenticated %}
             <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                User Name
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'profile' %}">My profile</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url '/planning' %}">Planning</a>
                    <a class="dropdown-item" href="{% url '/coaching' %}">Coaching</a>
                    <a class="dropdown-item" href="{% url '/messages' %}">Messages</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a>
                </div>
            </div>
            {% else %}
                <a href="{% url 'account_login' %}" class="btn btn-outline-success my-2 my-sm-0">Login</a>
            {% endif %}
        </div>
    </nav>
</header>
<section>
    <br>
    <div class="light-row">
        <div class="container-xl">
            <h1>The best care for your greatest asset</h1>
            <div class="hero-image">
            </div>
            <br>
            <h2>Elevate your Customer Service Team with one tool combining managament and coaching</h2>
        </div>
    </div>
    <div class="dark-row">
        <div class="container-xl">
            <div class="row">
                <div class="col-12 col-sm-6 text-right">
                    <h3>Happy employees produce happy customers</h3>
                    <p>EggBox gives you the power to plan and coach your team in one simple application
                        for free (up to 12 users).
                        Click on <a href="{% url 'account_signup' %}">Sign up</a> to create an account or to see all plans for more users and multiple teams. 
                    </p>
                </div>
                <div class="col-12 col-sm-6 fill-image img-agent">
                </div>
            </div>
        </div>
    </div>
    <div class="light-row">
        <div class="container-xl">
            <div class="row">
                <div class="col-12 col-sm-6 fill-image img-plan">
                </div>
                <div class="col-12 col-sm-6">
                    <h3>Still using spreadsheets for team planning?</h3>
                    <p>EggBox gives you the power to plan and coach your team in one simple application.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="dark-row">
        <div class="container-xl">
            <div class="row">
                <div class="col-12 col-sm-6 text-right">
                    <h3>Set and achieve goals</h3>
                    <p>Develop your agents through coaching. Plan sessions.
                    </p>
                </div>
                <div class="col-12 col-sm-6 fill-image img-coach">
                </div>
            </div>
        </div>
    </div>
    <div class="light-row">
        <div class="container-xl">
            <div class="row light-row">
                <div class="col-12 col-sm-6 fill-image img-settings">
                </div>
                <div class="col-12 col-sm-6">
                    <h3>Individual adjustments</h3>
                    <p>Optimize EggBox for your individual needs without an overload of options. Get setup in a few minutes. Example
                        presets help to adjust the right settings.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}