<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'planning/css/planning.css' %}">
{% endblock %}
{% block content %}
<header>
    <nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-dark">
        <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown"
            aria-expanded="false"
            aria-label="Toggle navigation"
            >
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'planning' %}">Planning</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'coaching' %}">Coaching</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'notifications' %}">Messages</a>
                </li>
            </ul>
        </div>
        <a class="logo-small" href="{% url 'planning' %}"></a>
        <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ profile.first_name }} {{ profile.last_name }}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% if profile.level == 'admin' or profile.level == 'manager' %}
                <a class="dropdown-item" href="{% url 'user_management' %}">User Management</a>
                <a class="dropdown-item" href="{% url 'teams' %}">Teams</a>
                <a class="dropdown-item" href="{% url 'shifts' %}">Shifts</a>
                <div class="dropdown-divider"></div>
                {% endif %}
                <a class="dropdown-item" href="{% url 'profile' %}">My Profile</a>
                {% if profile.level == 'admin' %}
                <a class="dropdown-item" href="{% url 'settings_global' %}">Global Settings</a>
                {% endif %}
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a>
            </div>
        </div>
    </nav>
</header>
<section class="section-maincontent">
    <div class="container-xl">
        <a class="float-right" href="{% url 'add_session' %}">
            <button class="btn btn-primary add-button">Add Session</button>
        </a>
        <h2>Coaching</h2>
        {% if profile.level == 'manager' %}
            <div class="dropdown show">
                Select an Agent: 
                <a class="dropdown-toggle" href="#" role="button" id="agents_dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ current_agent }}
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    {% for user in users_select %}
                     <a class="dropdown-item" href="{% url 'coaching' %}?agent={{ user.id }}">{{ user.first_name }} {{ user.last_name }}</a>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        <h3>Goal: {{ agent_goal }}</h3>
        {% if coaching|length > 0 %}
        {% for session in coaching %}
        <div class="messages-wrapper">
            <div class="row">
                <div class="col-12 col-sm-4">
                    <em>Date: </em>{{ session.date }}
                </div>
                <div class="col-12 col-sm-4">
                    <em>Manager: </em>{{ session.manager }}
                </div>
                <div class="col-12 col-sm-4">
                    <em>Field: </em>{{ session.field }}
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-12 col-sm-6">
                    <em>What went well?</em><br>
                    {{ session.good }}
                </div>
                <div class="col-12 col-sm-6">
                    <em>Points to improve</em><br>
                    {{ session.improve }}
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-12">
                <em>Goal until the next session</em><br>
                {{ session.goal }}
                </div>
            </div>
            <a href="{% url 'edit_session' session.id %}"><i class="far fa-edit"></i></a>
            <a class="float-right" href="{% url 'delete_session' session.id %}"><i class="far fa-trash-alt"></i></a>
            <br>
        </div>
        {% endfor %}
        {% else %}
        - There are no recorded coaching sessions yet -
        {% endif %}
        <p>This section is for the development of Agents. Managers and Agents can track their coaching sessions</p>
    </div>
</section>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <!-- script, see planning template -->
   
{% endblock %}