<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% block content %}
<header>
    <nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-dark">
        <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown"
            aria-expanded="false"
            aria-label="Toggle navigation"
            >
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'planning' %}">Planning</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'coaching' %}">Coaching</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'notifications' %}">Messages</a>
                </li>
            </ul>
        </div>
        <a class="logo-small" href="{% url 'planning' %}"></a>
        <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ profile.first_name }} {{ profile.last_name }}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% if profile.level == 'admin' or profile.level == 'manager' %}
                <a class="dropdown-item" href="{% url 'user_management' %}">User Management</a>
                <a class="dropdown-item" href="{% url 'teams' %}">Teams</a>
                <a class="dropdown-item" href="{% url 'shifts' %}">Shifts</a>
                <div class="dropdown-divider"></div>
                {% endif %}
                <a class="dropdown-item" href="{% url 'profile' %}">My Profile</a>
                {% if profile.level == 'admin' %}
                <a class="dropdown-item" href="{% url 'settings_global' %}">Global Settings</a>
                {% endif %}
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a>
            </div>
        </div>
    </nav>
</header>
<section class="section-maincontent">
    <div class="container-xl">
        <h2>Notifications</h2>
        <br>
        {% if notifications|length > 0 %}
        {% for message in notifications %}
        <div class="messages-wrapper">
            <div class="row">
                <div class="col-12 col-sm-6">
                    Date: {{ message.date }}
                </div>
                <div class="col-12 col-sm-6">
                    Triggered by: {{ message.message_sender }}
                </div>
            </div>
            <p>{{ message.message_text }}</p>
            <a class="float-right" href="{% url 'delete_message' message.id %}"><i class="far fa-trash-alt list-icon"></i></a>
            <hr>
        </div>
        {% endfor %}
        {% else %}
        - There are currently no messages -
        {% endif %}
        <div class="hints">
            <hr>
            <h5><i class="fas fa-info-circle"></i> Hints</h5>
            <ul>
                <li>You will receive a notification if someone has changed one of your events</li>
            </ul>
        </div>
    </div>
</section>
{% endblock %}